#Puerto utilizado por el backend
PORT = 3000

#Entorno de ejecución 
#development, tet o produccion
NODE_ENV=development

#Direccion interna del microservicio de FastAPI
AI_API_URL=http://127.0.0.1:8000

#Origen autorizado para consumir el backend
#durante el desarrollo se permite cualquier origen
CORS_ORIGIN=*